rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Universal Read & Write Access for Lotus Paradise / The Cometas Web Application
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
